APP_ENV=local
APP_DEBUG=true
APP_KEY=bAUXgdwziDnOFUnSGTm74RUxJqUzmPJj

DB_HOST=localhost
DB_DATABASE=landata_dev
DB_USERNAME=root
DB_PASSWORD=

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=thett.kz
MAIL_PORT=25
MAIL_USERNAME=dos@thett.kz
MAIL_PASSWORD=sx123sx123
MAIL_ENCRYPTION=
